div {
    border-right: 1 solid lightgrey;
    border-left: 5 solid black;
  }

.div-set{
  position: relative;
}

.home-set{
  /* position: absolute; */
  /* z-index: -1; */
}
.message-set {
  position: fixed;
  z-index: 10;
  left: 70%;
}
